.menu {
   -fx-background-color: linear-gradient(to bottom, #4D67D8, #9F6ABA);
}

.btnMenu {
    -fx-background-color: transparent;
    -fx-text-fill: #c2c2c2;
}

.btnMenu:hover {
    -fx-text-fill: white;
}

.btnMenu:focused {
  -fx-border-style: solid;
      -fx-border-width: 0px 0px 0px 2px;
      -fx-border-color: white;
}


.btnList {
     -fx-background-color: transparent;
      -fx-text-fill: #c2c2c2;
}

.btnList:hover {
    -fx-text-fill: white;
}

.txtField {
    -fx-font-size:15.0;
    -fx-background-color: white;
    -fx-text-fill: #c2c2c2;
    -fx-border-style: solid;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-color: white;
}


.list-cell{
 -fx-background-color: transparent;
  -fx-text-fill: gray;
  -fx-font-size:15.0;
}

.list-cell:filled:hover {
    -fx-text-fill: white;
}


.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}




